p{
    font-family: Roboto Mono;
    color: rgb(255, 0, 0);
}
html{
    background-color: #424044;
}
h6{
    font-size: small;
}
h3{
    font-family: Roboto Mono;
    color: rgb(255, 0, 0);
  text-align: center;
}
h1{
  text-align: center;
  color:rgb(255, 0, 0);
}
a{
  color:rgb(255, 0, 0);
}